:root{
    font-size: 60%;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #004279;
    min-height: 100vh;
}
.container{
    display: block;
    width: 40rem;
    height: 40rem;
    background: #3a3a3a;
}
.box{
    width: 35rem;
    height: 27rem;
    margin: 60px auto;
}
.title{
    font-size: 3rem;
    margin: 30px 0;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    text-align: center;
}
.input{
    display: block;
    width: 25rem;
    height: 45px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    margin: 10px auto;
    font-size: 1.5rem;
    color: #fff;
    border: solid 2px #005db4;
    border-radius: 30px;
    background: #3a3a3a;
    transition: width 0.5s;
}
.btn{
    background: #3a3a3a;
    border: 2px solid #92ff92;
    border-radius: 30px;
    color: #fff;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto;
    width: 15rem;
    height: 45px;
}
.btn:hover{
    background: #92ff92;
}